## Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [27]:
#SELECT sub.name, SUM(sub.revenue) AS revenue
#FROM
#    (
#    SELECT name, B.memid, COUNT(B.facid) AS facilities_count, membercost, guestcost,
#        CASE
#        WHEN memid = 0 
#        THEN COUNT(B.facid)*guestcost
#        ELSE COUNT(B.facid)*membercost
#        END AS 'revenue'
#    FROM Bookings AS B
#    INNER JOIN Facilities AS F
#    ON F.facid = B.facid
#    GROUP BY B.facid, B.memid
#    ) AS sub
#GROUP BY sub.name
#ORDER BY revenue;

In [22]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM(
        SELECT sub.facility, SUM(sub.revenue) AS revenue
        FROM(
        SELECT F.name AS facility,
        CASE
        WHEN B.memid = 0 
        THEN F.guestcost * B.slots
        ELSE F.membercost * B.slots
        END AS 'revenue'
        FROM Bookings AS B
        INNER JOIN Facilities AS F ON F.facid = B.facid
        INNER JOIN Members AS M ON M.memid = B.memid
        GROUP BY B.facid, B.memid
        ) AS sub
        GROUP BY sub.facility
        ) AS second_sub
        WHERE second_sub.revenue < 1000
        ORDER BY second_sub.revenue;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 5)
('Table Tennis', 10)
('Snooker Table', 20)
('Badminton Court', 46.5)
('Squash Court', 210.0)
('Tennis Court 2', 390)
('Massage Room 2', 397.60000000000014)
('Tennis Court 1', 450)
('Massage Room 1', 654.9999999999999)

In [15]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT * 
        FROM (
        SELECT sub.facility, SUM( sub.cost ) AS total_revenue
        FROM (
        SELECT Facilities.name AS facility, 
        CASE WHEN Bookings.memid =0
        THEN Facilities.guestcost * Bookings.slots
        ELSE Facilities.membercost * Bookings.slots
        END AS cost
        FROM Bookings
        INNER JOIN Facilities ON Bookings.facid = Facilities.facid
        INNER JOIN Members ON Bookings.memid = Members.memid
        )sub
        GROUP BY sub.facility
        )sub2
        WHERE sub2.total_revenue <1000
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

## Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [31]:
#SELECT m1.surname || ', ' || m1.firstname AS new_member, m1.recommendedby, m2.surname || ', ' || m2.firstname AS recommender
#FROM Members AS m1
#INNER JOIN Members AS m2
#ON m1.recommendedby = m2.memid
#WHERE m1.recommendedby <> 0
#ORDER BY recommender;

In [32]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT m1.surname || ', ' || m1.firstname AS new_member, m1.recommendedby, m2.surname || ', ' || m2.firstname AS recommender
    FROM Members AS m1
    INNER JOIN Members AS m2
    ON m1.recommendedby = m2.memid
    WHERE m1.recommendedby <> 0
    ORDER BY recommender;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Sarwin, Ramnaresh', '15', 'Bader, Florence')
('Coplin, Joan', '16', 'Baker, Timothy')
('Genting, Matthew', '5', 'Butters, Gerald')
('Baker, Timothy', '13', 'Farrell, Jemima')
('Pinker, David', '13', 'Farrell, Jemima')
('Rumney, Henrietta', '20', 'Genting, Matthew')
('Jones, Douglas', '11', 'Jones, David')
('Dare, Nancy', '4', 'Joplette, Janice')
('Jones, David', '4', 'Joplette, Janice')
('Hunt, John', '30', 'Purview, Millicent')
('Boothe, Tim', '3', 'Rownam, Tim')
('Joplette, Janice', '1', 'Smith, Darren')
('Butters, Gerald', '1', 'Smith, Darren')
('Owen, Charles', '1', 'Smith, Darren')
('Smith, Jack', '1', 'Smith, Darren')
('Mackenzie, Anna', '1', 'Smith, Darren')
('Worthington-Smyth, Henry', '2', 'Smith, Tracy')
('Purview, Millicent', '2', 'Smith, Tracy')
('Crumpet, Erica', '2', 'Smith, Tracy')
('Baker, Anne', '9', 'Stibbons, Ponder')
('Bader, Florence', '9', 'Stibbons, Ponder')
('Stibbons, Ponder', '6', 'Tracy, Burton')

## Q12: Find the facilities with their usage by member, but not guests

In [14]:
#SELECT memid, COUNT(bookid)
#FROM Facilities
#INNER JOIN Bookings
#ON Facilities.facid = Bookings.facid
#WHERE memid <> 0
#GROUP BY memid;

In [33]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT memid, COUNT(bookid)
    FROM Facilities
    INNER JOIN Bookings
    ON Facilities.facid = Bookings.facid
    WHERE memid <> 0
    GROUP BY memid;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(1, 261)
(2, 210)
(3, 408)
(4, 159)
(5, 163)
(6, 176)
(7, 117)
(8, 188)
(9, 104)
(10, 131)
(11, 115)
(12, 118)
(13, 80)
(14, 89)
(15, 120)
(16, 166)
(17, 71)
(20, 72)
(21, 126)
(22, 53)
(24, 70)
(26, 14)
(27, 20)
(28, 34)
(29, 41)
(30, 16)
(33, 16)
(35, 15)
(36, 7)

## Q13: Find the facilities usage by month, but not guests

In [23]:
# This version works in MySQL
#SELECT name, DATE_FORMAT(starttime, '%m-%Y') AS month, COUNT(bookid) AS num_bookings, COUNT(bookid)*slots AS slots_used
#FROM Bookings
#INNER JOIN Facilities
#ON Bookings.facid = Facilities.facid
#GROUP BY name, MONTH(starttime), YEAR(starttime);

# This version works in SQLite
#SELECT name, STRFTIME('%m-%Y', starttime) AS month, COUNT(bookid) AS num_bookings, COUNT(bookid)*slots AS slots_used
#FROM Bookings
#INNER JOIN Facilities
#ON Bookings.facid = Facilities.facid
#GROUP BY name, STRFTIME('%m-%Y', starttime);

In [34]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT name, STRFTIME('%m-%Y', starttime) AS month, COUNT(bookid) AS num_bookings, COUNT(bookid)*slots AS slots_used
    FROM Bookings
    INNER JOIN Facilities
    ON Bookings.facid = Facilities.facid
    GROUP BY name, STRFTIME('%m-%Y', starttime);
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', '07-2012', 56, 168)
('Badminton Court', '08-2012', 146, 876)
('Badminton Court', '09-2012', 181, 543)
('Massage Room 1', '07-2012', 123, 246)
('Massage Room 1', '08-2012', 224, 448)
('Massage Room 1', '09-2012', 282, 564)
('Massage Room 2', '07-2012', 12, 24)
('Massage Room 2', '08-2012', 40, 80)
('Massage Room 2', '09-2012', 59, 118)
('Pool Table', '07-2012', 110, 110)
('Pool Table', '08-2012', 291, 582)
('Pool Table', '09-2012', 435, 435)
('Snooker Table', '07-2012', 75, 150)
('Snooker Table', '08-2012', 159, 318)
('Snooker Table', '09-2012', 210, 420)
('Squash Court', '07-2012', 75, 150)
('Squash Court', '08-2012', 170, 340)
('Squash Court', '09-2012', 195, 1560)
('Table Tennis', '07-2012', 51, 102)
('Table Tennis', '08-2012', 147, 294)
('Table Tennis', '09-2012', 205, 410)
('Tennis Court 1', '07-2012', 88, 264)
('Tennis Court 1', '08-2012', 146, 438)
('Tennis Court 1', '09-2012', 174, 522)
('Tennis Court 2', '07-2012', 68, 204)
('Tennis Court 2', '08-2012', 149, 1341)
('Tennis Court 2', '09-2012', 172, 516)