## Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [27]:
#SELECT sub.name, SUM(sub.revenue) AS revenue
#FROM
#    (
#    SELECT name, B.memid, COUNT(B.facid) AS facilities_count, membercost, guestcost,
#        CASE
#        WHEN memid = 0 
#        THEN COUNT(B.facid)*guestcost
#        ELSE COUNT(B.facid)*membercost
#        END AS 'revenue'
#    FROM Bookings AS B
#    INNER JOIN Facilities AS F
#    ON F.facid = B.facid
#    GROUP BY B.facid, B.memid
#    ) AS sub
#GROUP BY sub.name
#ORDER BY revenue;

In [24]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM(
        SELECT sub.facility, SUM(sub.revenue) AS revenue
        FROM(
        SELECT F.name AS facility,
        CASE
        WHEN B.memid = 0 
        THEN F.guestcost * B.slots
        ELSE F.membercost * B.slots
        END AS 'revenue'
        FROM Bookings AS B
        INNER JOIN Facilities AS F ON F.facid = B.facid
        INNER JOIN Members AS M ON M.memid = B.memid
        ) AS sub
        GROUP BY sub.facility
        ) AS second_sub
        WHERE second_sub.revenue < 1000
        ORDER BY second_sub.revenue;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

## Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [31]:
#SELECT m1.surname || ', ' || m1.firstname AS new_member, m1.recommendedby, m2.surname || ', ' || m2.firstname AS recommender
#FROM Members AS m1
#INNER JOIN Members AS m2
#ON m1.recommendedby = m2.memid
#WHERE m1.recommendedby <> 0
#ORDER BY recommender;

In [32]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT m1.surname || ', ' || m1.firstname AS new_member, m1.recommendedby, m2.surname || ', ' || m2.firstname AS recommender
    FROM Members AS m1
    INNER JOIN Members AS m2
    ON m1.recommendedby = m2.memid
    WHERE m1.recommendedby <> 0
    ORDER BY recommender;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Sarwin, Ramnaresh', '15', 'Bader, Florence')
('Coplin, Joan', '16', 'Baker, Timothy')
('Genting, Matthew', '5', 'Butters, Gerald')
('Baker, Timothy', '13', 'Farrell, Jemima')
('Pinker, David', '13', 'Farrell, Jemima')
('Rumney, Henrietta', '20', 'Genting, Matthew')
('Jones, Douglas', '11', 'Jones, David')
('Dare, Nancy', '4', 'Joplette, Janice')
('Jones, David', '4', 'Joplette, Janice')
('Hunt, John', '30', 'Purview, Millicent')
('Boothe, Tim', '3', 'Rownam, Tim')
('Joplette, Janice', '1', 'Smith, Darren')
('Butters, Gerald', '1', 'Smith, Darren')
('Owen, Charles', '1', 'Smith, Darren')
('Smith, Jack', '1', 'Smith, Darren')
('Mackenzie, Anna', '1', 'Smith, Darren')
('Worthington-Smyth, Henry', '2', 'Smith, Tracy')
('Purview, Millicent', '2', 'Smith, Tracy')
('Crumpet, Erica', '2', 'Smith, Tracy')
('Baker, Anne', '9', 'Stibbons, Ponder')
('Bader, Florence', '9', 'Stibbons, Ponder')
('Stibbons, Ponder', '6', 'Tracy, Burton')

## Q12: Find the facilities with their usage by member, but not guests

In [59]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT name, firstname || ' ' || surname AS member, COUNT(bookid) AS usage
    FROM Members
    INNER JOIN Bookings
    ON Bookings.memid = Members.memid
    INNER JOIN Facilities
    ON Facilities.facid = Bookings.facid
    WHERE Bookings.memid <> 0
    GROUP BY name, member
    ORDER BY name, surname, usage;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 'Florence Bader', 9)
('Badminton Court', 'Timothy Baker', 7)
('Badminton Court', 'Anne Baker', 10)
('Badminton Court', 'Tim Boothe', 12)
('Badminton Court', 'Gerald Butters', 20)
('Badminton Court', 'Erica Crumpet', 2)
('Badminton Court', 'Nancy Dare', 10)
('Badminton Court', 'Jemima Farrell', 7)
('Badminton Court', 'John Hunt', 2)
('Badminton Court', 'Douglas Jones', 2)
('Badminton Court', 'David Jones', 8)
('Badminton Court', 'Anna Mackenzie', 30)
('Badminton Court', 'Charles Owen', 6)
('Badminton Court', 'David Pinker', 7)
('Badminton Court', 'Millicent Purview', 2)
('Badminton Court', 'Tim Rownam', 4)
('Badminton Court', 'Ramnaresh Sarwin', 7)
('Badminton Court', 'Jack Smith', 12)
('Badminton Court', 'Tracy Smith', 32)
('Badminton Court', 'Darren Smith', 132)
('Badminton Court', 'Ponder Stibbons', 16)
('Badminton Court', 'Burton Tracy', 2)
('Badminton Court', 'Hyacinth Tupperware', 1)
('Badminton Court', 'Henry Worthington-Smyth', 4)
('Massage Room 1', 'Anne Baker', 3)
('Massage Room 1', 'Timothy Baker', 24)
('Massage Room 1', 'Tim Boothe', 36)
('Massage Room 1', 'Gerald Butters', 32)
('Massage Room 1', 'Joan Coplin', 1)
('Massage Room 1', 'Erica Crumpet', 2)
('Massage Room 1', 'Nancy Dare', 19)
('Massage Room 1', 'Jemima Farrell', 29)
('Massage Room 1', 'Matthew Genting', 25)
('Massage Room 1', 'John Hunt', 3)
('Massage Room 1', 'David Jones', 19)
('Massage Room 1', 'Janice Joplette', 12)
('Massage Room 1', 'Anna Mackenzie', 1)
('Massage Room 1', 'Charles Owen', 11)
('Massage Room 1', 'David Pinker', 3)
('Massage Room 1', 'Tim Rownam', 80)
('Massage Room 1', 'Ramnaresh Sarwin', 8)
('Massage Room 1', 'Tracy Smith', 6)
('Massage Room 1', 'Jack Smith', 27)
('Massage Room 1', 'Darren Smith', 28)
('Massage Room 1', 'Ponder Stibbons', 19)
('Massage Room 1', 'Burton Tracy', 31)
('Massage Room 1', 'Hyacinth Tupperware', 1)
('Massage Room 1', 'Henry Worthington-Smyth', 1)
('Massage Room 2', 'Florence Bader', 2)
('Massage Room 2', 'Anne Baker', 2)
('Massage Room 2', 'Gerald Butters', 1)
('Massage Room 2', 'Joan Coplin', 2)
('Massage Room 2', 'Nancy Dare', 5)
('Massage Room 2', 'Matthew Genting', 1)
('Massage Room 2', 'David Jones', 4)
('Massage Room 2', 'Janice Joplette', 2)
('Massage Room 2', 'Charles Owen', 2)
('Massage Room 2', 'Tim Rownam', 2)
('Massage Room 2', 'Ramnaresh Sarwin', 3)
('Massage Room 2', 'Jack Smith', 1)
('Pool Table', 'Florence Bader', 23)
('Pool Table', 'Anne Baker', 12)
('Pool Table', 'Timothy Baker', 85)
('Pool Table', 'Tim Boothe', 25)
('Pool Table', 'Gerald Butters', 6)
('Pool Table', 'Joan Coplin', 11)
('Pool Table', 'Nancy Dare', 19)
('Pool Table', 'Jemima Farrell', 1)
('Pool Table', 'David Farrell', 25)
('Pool Table', 'Matthew Genting', 18)
('Pool Table', 'Douglas Jones', 2)
('Pool Table', 'David Jones', 8)
('Pool Table', 'Janice Joplette', 27)
('Pool Table', 'Anna Mackenzie', 70)
('Pool Table', 'Charles Owen', 1)
('Pool Table', 'David Pinker', 9)
('Pool Table', 'Millicent Purview', 5)
('Pool Table', 'Tim Rownam', 241)
('Pool Table', 'Henrietta Rumney', 3)
('Pool Table', 'Ramnaresh Sarwin', 13)
('Pool Table', 'Jack Smith', 7)
('Pool Table', 'Darren Smith', 28)
('Pool Table', 'Tracy Smith', 61)
('Pool Table', 'Ponder Stibbons', 12)
('Pool Table', 'Burton Tracy', 30)
('Pool Table', 'Hyacinth Tupperware', 8)
('Pool Table', 'Henry Worthington-Smyth', 33)
('Snooker Table', 'Florence Bader', 33)
('Snooker Table', 'Tim Boothe', 43)
('Snooker Table', 'Gerald Butters', 34)
('Snooker Table', 'Joan Coplin', 10)
('Snooker Table', 'Nancy Dare', 23)
('Snooker Table', 'David Farrell', 1)
('Snooker Table', 'Jemima Farrell', 21)
('Snooker Table', 'Matthew Genting', 1)
('Snooker Table', 'David Jones', 2)
('Snooker Table', 'Janice Joplette', 68)
('Snooker Table', 'Anna Mackenzie', 7)
('Snooker Table', 'Charles Owen', 22)
('Snooker Table', 'David Pinker', 16)
('Snooker Table', 'Millicent Purview', 1)
('Snooker Table', 'Henrietta Rumney', 14)
('Snooker Table', 'Ramnaresh Sarwin', 18)
('Snooker Table', 'Jack Smith', 5)
('Snooker Table', 'Darren Smith', 12)
('Snooker Table', 'Tracy Smith', 45)
('Snooker Table', 'Ponder Stibbons', 20)
('Snooker Table', 'Burton Tracy', 20)
('Snooker Table', 'Hyacinth Tupperware', 5)
('Squash Court', 'Florence Bader', 2)
('Squash Court', 'Timothy Baker', 5)
('Squash Court', 'Anne Baker', 49)
('Squash Court', 'Tim Boothe', 12)
('Squash Court', 'Gerald Butters', 9)
('Squash Court', 'Joan Coplin', 1)
('Squash Court', 'David Farrell', 1)
('Squash Court', 'Jemima Farrell', 8)
('Squash Court', 'John Hunt', 1)
('Squash Court', 'Douglas Jones', 1)
('Squash Court', 'David Jones', 8)
('Squash Court', 'Janice Joplette', 14)
('Squash Court', 'Anna Mackenzie', 2)
('Squash Court', 'Charles Owen', 7)
('Squash Court', 'David Pinker', 3)
('Squash Court', 'Millicent Purview', 1)
('Squash Court', 'Henrietta Rumney', 2)
('Squash Court', 'Ramnaresh Sarwin', 2)
('Squash Court', 'Tracy Smith', 6)
('Squash Court', 'Jack Smith', 9)
('Squash Court', 'Darren Smith', 14)
('Squash Court', 'Ponder Stibbons', 2)
('Squash Court', 'Burton Tracy', 35)
('Squash Court', 'Hyacinth Tupperware', 1)
('Table Tennis', 'Florence Bader', 42)
('Table Tennis', 'Anne Baker', 1)
('Table Tennis', 'Timothy Baker', 24)
('Table Tennis', 'Tim Boothe', 4)
('Table Tennis', 'Gerald Butters', 1)
('Table Tennis', 'Joan Coplin', 21)
('Table Tennis', 'Erica Crumpet', 2)
('Table Tennis', 'Nancy Dare', 5)
('Table Tennis', 'Jemima Farrell', 12)
('Table Tennis', 'Matthew Genting', 26)
('Table Tennis', 'John Hunt', 1)
('Table Tennis', 'David Jones', 11)
('Table Tennis', 'Janice Joplette', 9)
('Table Tennis', 'Anna Mackenzie', 16)
('Table Tennis', 'Charles Owen', 24)
('Table Tennis', 'David Pinker', 17)
('Table Tennis', 'Millicent Purview', 6)
('Table Tennis', 'Tim Rownam', 69)
('Table Tennis', 'Ramnaresh Sarwin', 3)
('Table Tennis', 'Jack Smith', 5)
('Table Tennis', 'Darren Smith', 28)
('Table Tennis', 'Tracy Smith', 28)
('Table Tennis', 'Ponder Stibbons', 3)
('Table Tennis', 'Burton Tracy', 24)
('Table Tennis', 'Henry Worthington-Smyth', 3)
('Tennis Court 1', 'Florence Bader', 1)
('Tennis Court 1', 'Anne Baker', 6)
('Tennis Court 1', 'Timothy Baker', 14)
('Tennis Court 1', 'Tim Boothe', 4)
('Tennis Court 1', 'Gerald Butters', 57)
('Tennis Court 1', 'Joan Coplin', 7)
('Tennis Court 1', 'Erica Crumpet', 1)
('Tennis Court 1', 'Nancy Dare', 25)
('Tennis Court 1', 'Jemima Farrell', 1)
('Tennis Court 1', 'David Farrell', 6)
('Tennis Court 1', 'Matthew Genting', 1)
('Tennis Court 1', 'John Hunt', 4)
('Tennis Court 1', 'Douglas Jones', 9)
('Tennis Court 1', 'David Jones', 25)
('Tennis Court 1', 'Janice Joplette', 19)
('Tennis Court 1', 'Charles Owen', 17)
('Tennis Court 1', 'David Pinker', 16)
('Tennis Court 1', 'Tim Rownam', 6)
('Tennis Court 1', 'Ramnaresh Sarwin', 5)
('Tennis Court 1', 'Jack Smith', 22)
('Tennis Court 1', 'Tracy Smith', 30)
('Tennis Court 1', 'Ponder Stibbons', 1)
('Tennis Court 1', 'Burton Tracy', 31)
('Tennis Court 2', 'Florence Bader', 8)
('Tennis Court 2', 'Timothy Baker', 7)
('Tennis Court 2', 'Anne Baker', 35)
('Tennis Court 2', 'Tim Boothe', 52)
('Tennis Court 2', 'Gerald Butters', 3)
('Tennis Court 2', 'Nancy Dare', 11)
('Tennis Court 2', 'David Farrell', 1)
('Tennis Court 2', 'Jemima Farrell', 1)
('Tennis Court 2', 'John Hunt', 4)
('Tennis Court 2', 'David Jones', 30)
('Tennis Court 2', 'Janice Joplette', 8)
('Tennis Court 2', 'Charles Owen', 41)
('Tennis Court 2', 'Millicent Purview', 1)
('Tennis Court 2', 'Tim Rownam', 6)
('Tennis Court 2', 'Henrietta Rumney', 1)
('Tennis Court 2', 'Ramnaresh Sarwin', 11)
('Tennis Court 2', 'Jack Smith', 1)
('Tennis Court 2', 'Tracy Smith', 2)
('Tennis Court 2', 'Darren Smith', 19)
('Tennis Court 2', 'Ponder Stibbons', 31)
('Tennis Court 2', 'Burton Tracy', 3)

## Q13: Find the facilities usage by month, but not guests

In [23]:
# This version works in MySQL
#SELECT name, DATE_FORMAT(starttime, '%m-%Y') AS month, COUNT(bookid) AS num_bookings, COUNT(bookid)*slots AS slots_used
#FROM Bookings
#INNER JOIN Facilities
#ON Bookings.facid = Facilities.facid
#GROUP BY name, MONTH(starttime), YEAR(starttime);

# This version works in SQLite
#SELECT name, STRFTIME('%m-%Y', starttime) AS month, COUNT(bookid) AS num_bookings, COUNT(bookid)*slots AS slots_used
#FROM Bookings
#INNER JOIN Facilities
#ON Bookings.facid = Facilities.facid
#GROUP BY name, STRFTIME('%m-%Y', starttime);

In [34]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT name, STRFTIME('%m-%Y', starttime) AS month, COUNT(bookid) AS num_bookings, COUNT(bookid)*slots AS slots_used
    FROM Bookings
    INNER JOIN Facilities
    ON Bookings.facid = Facilities.facid
    GROUP BY name, STRFTIME('%m-%Y', starttime);
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', '07-2012', 56, 168)
('Badminton Court', '08-2012', 146, 876)
('Badminton Court', '09-2012', 181, 543)
('Massage Room 1', '07-2012', 123, 246)
('Massage Room 1', '08-2012', 224, 448)
('Massage Room 1', '09-2012', 282, 564)
('Massage Room 2', '07-2012', 12, 24)
('Massage Room 2', '08-2012', 40, 80)
('Massage Room 2', '09-2012', 59, 118)
('Pool Table', '07-2012', 110, 110)
('Pool Table', '08-2012', 291, 582)
('Pool Table', '09-2012', 435, 435)
('Snooker Table', '07-2012', 75, 150)
('Snooker Table', '08-2012', 159, 318)
('Snooker Table', '09-2012', 210, 420)
('Squash Court', '07-2012', 75, 150)
('Squash Court', '08-2012', 170, 340)
('Squash Court', '09-2012', 195, 1560)
('Table Tennis', '07-2012', 51, 102)
('Table Tennis', '08-2012', 147, 294)
('Table Tennis', '09-2012', 205, 410)
('Tennis Court 1', '07-2012', 88, 264)
('Tennis Court 1', '08-2012', 146, 438)
('Tennis Court 1', '09-2012', 174, 522)
('Tennis Court 2', '07-2012', 68, 204)
('Tennis Court 2', '08-2012', 149, 1341)
('Tennis Court 2', '09-2012', 172, 516)