In [3]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, guestcost, membercost, COUNT(Bookings.facid),
        DECODE(memid, 0, COUNT(Bookings.facid)*guestcost,
                        COUNT(Bookings.facid)*membercost)
        "Revenue"
        FROM Facilities
        INNER JOIN Bookings
        ON Facilities.facid = Bookings.facid
        GROUP BY name;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

OperationalError: no such function: DECODE

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [ ]:
SELECT name,
CASE
WHEN memid = 0 THEN (COUNT(Bookings.facid) * guestcost)
    ELSE (COUNT(Bookings.facid) * membercost)
    END "Revenue"
FROM Facilities
INNER JOIN Bookings
ON Facilities.facid = Bookings.facid
GROUP BY name;

SELECT name, guestcost, membercost, COUNT(Bookings.facid), SUM(revenue) AS revenue_total
CASE
    WHEN Bookings.memid=0 
    THEN COUNT(Bookings.facid) * guestcost
    ELSE COUNT(Bookings.facid) * membercost
    END AS 'revenue'
FROM Facilities
INNER JOIN Bookings
ON Facilities.facid = Bookings.facid
GROUP BY name;

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [9]:
#SELECT CONCAT_WS('', m1.surname,', ', m1.firstname) AS new_member, m1.recommendedby, CONCAT_WS('', m2.surname, ', ', m2.firstname) AS recommender
#FROM Members AS m1
#INNER JOIN Members AS m2
#ON m1.recommendedby = m2.memid
#WHERE m1.recommendedby <> 0
#ORDER BY recommender;

Q12: Find the facilities with their usage by member, but not guests

In [14]:
#SELECT memid, COUNT(bookid)
#FROM Facilities
#INNER JOIN Bookings
#ON Facilities.facid = Bookings.facid
#WHERE memid <> 0
#GROUP BY memid;

Q13: Find the facilities usage by month, but not guests

In [23]:
# This version works in MySQL
#SELECT name, DATE_FORMAT(starttime, '%m-%Y') AS month, COUNT(bookid) AS num_bookings, COUNT(bookid)*slots AS slots_used
#FROM Bookings
#INNER JOIN Facilities
#ON Bookings.facid = Facilities.facid
#GROUP BY name, MONTH(starttime), YEAR(starttime);

# This version works in SQLite
#SELECT name, STRFTIME('%m-%Y', starttime) AS month, COUNT(bookid) AS num_bookings, COUNT(bookid)*slots AS slots_used
#FROM Bookings
#INNER JOIN Facilities
#ON Bookings.facid = Facilities.facid
#GROUP BY name, STRFTIME('%m-%Y', starttime);